#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  background-color: #fafafa;
}

.wrapper{
  width: 100vw;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.wrapper-short{
  grid-template-columns: 80px 1fr;
}

.navbar{
  border-right: 1px solid #535bf2;
  display: grid;
  grid-template-rows: 1fr 60px;
  height: 100vh;
}

.content{

}